<div class="container">
  <h1 class="title">My Todo List</h1>

  <input type="text" [(ngModel)]="newTask" placeholder="Add a new task" class="input" />
  <select [(ngModel)]="newStatus" class="select">
    <option value="todo">Todo</option>
    <option value="in-process">In Process</option>
    <option value="done">Done</option>
  </select>

  <button (click)="addTask()" class="add">Add</button>

  <div class="board">
    <div class="column">
      <h2>Todo</h2>
      <div *ngFor="let task of tasks; let i = index">
        <div *ngIf="task.status === 'todo'" class="taskrow">
            <span class="taskname">{{ task.taskname }}</span>
            <select [(ngModel)]="task.status" class="selectlist">
              <option value="todo">Todo</option>
              <option value="in-process">In Process</option>
              <option value="done">Done</option>
            </select>
            <button (click)="removeTask(i)" class="remove">Remove</button>
        </div>
      </div>
    </div>

    <div class="column">
      <h2>In Process</h2>
      <div *ngFor="let task of tasks; let i = index">
        <div *ngIf="task.status === 'in-process'" class="taskrow">
            <span class="taskname">{{ task.taskname }}</span>
            <select [(ngModel)]="task.status" class="selectlist">
              <option value="todo">Todo</option>
              <option value="in-process">In Process</option>
              <option value="done">Done</option>
            </select>
            <button (click)="removeTask(i)" class="remove">Remove</button>
          </div>
      </div>
    </div>

    <div class="column">
      <h2>Done</h2>
      <div *ngFor="let task of tasks; let i = index">
        <div *ngIf="task.status === 'done'" class="taskrow">
            <span class="taskname">{{ task.taskname }}</span>
            <select [(ngModel)]="task.status" class="selectlist">
              <option value="todo">Todo</option>
              <option value="in-process">In Process</option>
              <option value="done">Done</option>
            </select>
            <button (click)="removeTask(i)" class="remove">Remove</button>
          </div>
      </div>
    </div>
  </div>
</div>